.orcamentoContainer {
    width: 50vw;
    margin-top: 10px;
    border-radius: 10px;
    padding-right: 20px;
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    & h4 {
        font-size: 1.5rem;
    }
    & .tabela {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
        & label {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;
            font-size: 20px;
            & input {
                width: 100%;
                padding: 5px 10px;
                outline: none;
                background-color: rgb(237, 206, 255);
                border: none;
                border-radius: 10px;
                font-size: 18px;
                &:disabled {
                    opacity: 0.6;
                }
            }
            &#obs {
                grid-column: span 2;
                & textarea {
                    width: 100%;
                    padding: 5px 10px;
                    outline: none;
                    background-color: rgb(237, 206, 255);
                    border: none;
                    border-radius: 10px;
                    font-size: 18px;
                    resize: none;
                }
            }
            & .entrega {
                display: flex;
                width: 100%;
                gap: 10px;
                & :nth-child(1) {
                    width: 100%;
                }
                & :nth-child(2) {
                    width: fit-content;
                }
            }
        }
        & select {
            width: 100%;
            padding: 5px 10px;
            outline: none;
            background-color: rgb(237, 206, 255);
            border: none;
            border-radius: 10px;
            font-size: 18px;
        }
        & .qvt {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 5px;
        }
        & .adc-produto {
            grid-column: span 2;
            background-color: pink;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            color: #333;
            transition: 0.3;
            &:hover {
                color: black;
            }
        }
        & .produto-adicionado {
            display: grid;
            width: 100%;
            grid-template-columns: 50% 1fr 1fr 1fr 1fr 2fr auto;
            padding: 2.5px 10px;
            border-radius: 10px;
            & .btn-excluir {
                width: 20px;
                height: 20px;
                border: 1px solid red;
                background-color: rgba(255, 0, 0, 0.7);
                border-radius: 5px;
                font-weight: bold;
                color: white;
                cursor: pointer;
            }
            & :first-child {
                margin: 0;
                text-align: left;
            }
            &:hover {
                background: rgba(255, 199, 208, 0.5);
            }
        }
    }
    & button#gerar {
        width: 100%;
        padding: 10px;
        margin: 20px 0;
        background-color: palevioletred;
        border: none;
        border-radius: 10px;
        font-size: 24px;
        color: white;
        cursor: pointer;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    }
}

.tabela-produtos {
    grid-template-columns: 3fr 1fr 1fr;
}